---
import Base from "./../layouts/Base.astro";
import PackagesRow from "./../components/PackagesRow.astro";

const packages = new Map<any, any>();

packages.set(
	"astro",
	new Set<string>([
		"npm:astro-compress",
		"npm:astro-critters",
		"npm:astro-img",
		"npm:astro-short-urls",
		"npm:astro-convert",
		"npm:astro-dead-links",
		"npm:astro-networks",
		"npm:astro-starter-template",
	])
);

packages.set(
	"github",
	new Set<string>([
		"npm:@yesmaintenance/scripts",
		"npm:github-history-slider",
	])
);

packages.set(
	"npm",
	new Set<string>(["npm:@lightrix/config", "npm:@lightrix/scripts"])
);

for (const packageType of packages.keys()) {
	let newPackages = new Set<{
		key?: string;
		name?: string;
		githubUrl?: string;
		githubOwnerRepo?: string;
		description?: string;
	}>();

	for (const packageKey of Array.from(packages.get(packageType)).filter(
		(_packageKey: any) => _packageKey.match(/npm:/)
	)) {
		if (typeof packageKey === "string") {
			const packageName = packageKey.replace("npm:", "");

			const packageJson = await (
				await fetch(`https://registry.npmjs.org/${packageName}`)
			).json();

			newPackages.add({
				key: packageKey,
				name: packageName,
				githubUrl: packageJson.homepage,
				githubOwnerRepo: packageJson.homepage
					.replace("https://github.com/", "")
					.replace("http://github.com/", "")
					.replace("git+https://github.com/", "")
					.replace("git+http://github.com/", "")
					.replace("#readme", ""),
				description: packageJson.description,
			});
		}
	}

	packages.set(packageType, newPackages);
}
---

<Base>
	<style is:global>
		@import "github-markdown-css";
	</style>

	<div class="container">
		<div class="markdown-body">
			<h2>
				<a href="https://holopin.io/@nikola"
					><picture
						><img
							alt="@nikola's Holopin board"
							src="https://holopin.io/api/user/board?user=nikola"
						/>
					</picture>
				</a>
			</h2>

			<table>
				<tr>
					<td colspan="4">
						<h1>
							<picture
								><source
									media="(prefers-color-scheme: dark)"
									srcset="https://astro.build/assets/press/logomark-dark.svg"
								/><source
									media="(prefers-color-scheme: light)"
									srcset="https://astro.build/assets/press/logomark-light.svg"
								/><img
									width="25"
									alt="Astro"
									src="https://astro.build/assets/press/logomark-light.svg"
								/>
							</picture> Astro
						</h1>
					</td>
				</tr>

				<PackagesRow packages={Array.from(packages.get("astro"))} />
			</table>

			<table>
				<tr>
					<td colspan="2" valign="middle"
						>**[dot] <br /> Dotfiles.**</td
					>
					<td colspan="2" valign="middle">**[nvim] <br /> NVIM.**</td>
				</tr>
				<tr>
					<td colspan="2">**[powershell] <br /> Powershell.**</td>
				</tr>
			</table>

			<table>
				<tr>
					<td colspan="4">
						<h1>
							<picture
								><source
									media="(prefers-color-scheme: dark)"
									srcset="https://raw.githubusercontent.com/nikolaxhristov/nikolaxhristov/main/.github/img/GitHub-Mark-Light-32px.png"
								/><source
									media="(prefers-color-scheme: light)"
									srcset="https://raw.githubusercontent.com/nikolaxhristov/nikolaxhristov/main/.github/img/GitHub-Mark-32px.png"
								/><img
									width="25"
									alt="GitHub"
									src="https://raw.githubusercontent.com/nikolaxhristov/nikolaxhristov/main/.github/img/GitHub-Mark-32px.png"
								/>
							</picture> GitHub
						</h1>
					</td>
				</tr>
				<PackagesRow packages={Array.from(packages.get("github"))} />
			</table>

			<table>
				<tr>
					<td
						>**[camera-tools] <br /> Customize your video feed with CSS.**</td
					>
					<td
						>**[spotify-now-playing]
						<br /> Spotify Now Playing widget.**</td
					>
				</tr>
				<tr>
					<td valign="middle">**[OBS] <br /> My OBS Setup.**</td>
					<td valign="middle">
						**[spotify-widget] <br /> Spotify Now Playing widget, but
						working.**</td
					>
				</tr>
			</table>

			<h2>
				<img
					src="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
					width="22"
				/> NPM
			</h2>

			<table>
				<tr
					><td valign="middle"
						>**[npm-config] <br /> Build config.**</td
					><td>**[npm-scripts] <br /> Build scripts.**</td>
				</tr>
			</table>

			<a href="https://app.daily.dev/nikolahristov"
				><img
					src="https://github.com/nikolaxhristov/nikolaxhristov/blob/main/devcard.svg?rev=hs2VsNVqDK"
					width="400"
					alt="Nikola'
				s
				Dev
				Card"
				/>
			</a>
		</div><a href="https://app.daily.dev/nikolahristov"> </a>
	</div><a href="https://app.daily.dev/nikolahristov"> </a><a
		href="https://app.daily.dev/nikolahristov">
	</a>
</Base>
